@model IEnumerable<Anwar.Models.LiveData>

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<table>
    <thead>
        <tr>
            <th>UserID</th>
            <th style="padding-left:70px;">ID</th>
            <th style="padding-left:70px;">Title</th>
            <th style="padding-left:70px;">Body</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.userId</td>
                <td style="padding-left:70px;">@item.id</td>
                <td style="padding-left:70px;">@item.title</td>
                <td style="padding-left:70px;">@item.body</td>


            </tr>
        }

    </tbody>


</table>



    <div >
        <table>
            <tr>
                <td style="float:left">@Html.ActionLink("Previous", "Privacy", new { number = Model.Select(x => x.Pagenumber - 1).FirstOrDefault() })</td>
                <td style="padding-left:900px;">@Html.ActionLink("Next", "Privacy", new { number = Model.Select(x => x.Pagenumber + 1).FirstOrDefault() })</td>

            </tr>
        </table>
       

    </div>
   
    <div>
   

    </div>



